body, html {
  background: #525252;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Berkshire Swash', cursive;
  height: 100%;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 26px;
  }
}