body, html {
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

input, textarea {
  font-family: inherit;
}

@font-face {
  font-family: 'Raleway-bold';
  src: url("/assets/fonts/Raleway-Bold"); 
}